/* ----Fonts---- */
@import url('../fonts/HelveticaNeue/stylesheet.css');

a {
  color: #fff;
}

 button a:hover {
  text-decoration: none;
   color: #fff;
 }
/* ----/Fonts----*/
.login-body {
  background-color: #e3edf0;
  font-family: HelveticaNeueCyr, sans-serif;
}

input[type='text'] {
  outline: none;
}

.visible {
  background-color: #0084b4;
}

label {
  color: #737475;
}

/* ----navigation----*/
.nav-link-color {
  color: #66757f !important;
}
.nav-icons:before {
  font-size: 20px;
  margin-right: 5px;
}

.navbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.register {
  margin-top: 75px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ced4da;
  padding: 0.375rem 0;
}

.data {
  margin-top: 60px;
}

.text-primary a {
  color: #1597f4;
}

.text-primary a:hover {
  color: #1597f4;
}
