/* tweets, following, followers */
.profile-body{
  padding-top: 30rem;
  background-color: #0084b4;
  font-family: HelveticaNeueCyr, sans-serif;
}
.profile-body-main{
   min-height: 100vh;
   background-color: #E3EDF0 !important;
}

.navbar-div{
 display: flex;
}

.person-menu-profile{
 box-shadow: 0 0 5px  rgba(0, 0, 0, 0.5);
 padding-top: 0.5rem;
}
.person-menu-profile-tabs{
  display: flex;
  justify-content: space-between;
}
.person-menu-profile-tabs-edit{
  display: inline;
}
.person-menu-profile-tabs-edit:hover{
  text-decoration: none;
}

.user-card-header{
  height: 6rem;
  background-color: #0084b4;
}
.user-card-header-body-btn-link{
  font-size: .8rem;
  text-transform: uppercase;
  background-color: #0084b4;
}

.card-bio-avatar{
 border: 2px solid #ffffff;
 max-width: 150px;
 min-width: 100px;
 top: -75px;
 left: -25px;
}
.card-bio-avatar img {
 width: 100%;
}



.profile-bio-avatar-2 {
 max-width: 250px;
 min-width: 200px;
 top:-180px;
 left: -7vw;
}
 .profile-bio-avatar-2 img {
   width: 80%;
   height: 50%;
 }
 /* @media only screen and (max-width: 1200px) {
   left:0;
 }
 @media (max-width: 1200px) and (min-width: 992px) {
   top: -160px;
 } */


.tabs{
 cursor: pointer;
}

.person-menu-mobile,
.btn-hiden {
 display:none;
}

@media (max-width: 768px) {
 .peroson-menu-hiden  {
     display: none;
 }

 .person-menu-mobile {
   display: block;
 }

 .btn-hiden {
   display: block;
 }
}
