{# {% block title %}Welcome{% endblock %} #}
{# {% block content %} #}
  <body class="start-body">
    <div class="col-12 col-md-7 col-xl-6 offset-xl-1 m-auto">
        <div class="modal-body window-body">
            <i class="fab fa-twitter text-primary h1"></i>
            <h2 class="modal-title font-weight-bold mb-2" id="exampleModalLabel">See whats happening in the world
            right now</h2>
            <h6>Join Twitter today</h6>
        </div>
        <div class="modal-footer d-flex flex-column border-0 p-0">
            <a href="user/registration" class="btn btn-primary rounded-pill col-12 p-2 font-weight-bold index-button" role="button" aria-pressed="true">Sign Up</a>
            <a href="user/login" class="btn btn-light rounded-pill col-12 p-2 font-weight-bold index-button" style = "font-weight: bold; color:#0084b4" role="button" aria-pressed="true">Login</a>
        </div>
    </div>
    
{# {% endblock %} #}