<div class="footer container-fluid my-3 ml-0">
        <div class="row" style="color:#cccccc">
            <div class="col-lg-5 pb-1 m-0">
                <hr/>
            </div>
            <div class=" pb-1 mx-auto">
                <i class="fab fa-twitter m-0 p-0 fa-2x"></i>
            </div>
            <div class="col-lg-5">
                <hr/>
            </div>
        </div>
    </div>