<nav class="navbar navbar-expand-md bg-white fixed-top">
    <div class="col-12 col-md-12 col-xl-10 offset-xl-1">
        <button class="navbar-toggler visible" type="button" id="sidebarCollapse" data-toggle="modal" data-target=".side-bar-modal">
            <i class="fas fa-list text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-secondary font-weight-bold" href="home"><i class="fas fa-home nav-icons"></i>Home
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="nav-item mr-auto ">
                <a class="nav-link text-secondary font-weight-bold mx-auto" href="#"><i class="fab fa-twitter text-info nav-icons" style="color:#0084b4 !important"></i></a>
            </div>
            <form class="form-inline my-lg-0 right-side">
                <input class="form-control mr-sm-2 bg-white focus-none" type="text" placeholder="Search" aria-label="Search" id="search" ; />
                <i class="fas fa-search search"></i>
                </button>
                <button class="btn btn-primary rounded-pill font-weight-bold mr-2" type="button" style="background-color: #0084b4" data-toggle="modal" data-target=".modal-tweet">
                    Tweet
                </button>
                <a href="../public/.." class="btn btn-light rounded-pill font-weight-bold text-muted" role="button" aria-pressed="true">Logout</a>
            </form>
        </div>
    </div>
</nav>

<!-- modal side-bar -->

<div class="modal fade side-bar-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg m-0">
        <div class="modal-content">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <i class="fas fa-user-circle user-avatar-side"></i>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="d-flex flex-column p-1 mt-4">
                        <span class="h5 font-weight-bold m-0" style="color: #fff">Name</span>
                        <span class="h6 link" style="color: #fff">@username</span>
                    </div>
                    <div class="row">
                        <div class="text-center" style="font-size: 1.3em; color: #fff">
                            <span class="text-info h4 pl-2">0</span> Following
                        </div>
                        <div class="text-center" style="font-size: 1.3em; color: #fff">
                            <span class="text-info h4 p-2">0</span>Followers
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="profile">Profile</a>
                    </li>
                    <li>
                        <a href="search">Search</a>
                    </li>
                    <li>
                        <a href="../public/..">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- HEADER END -->