<body class="login-body">
    <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
        <div class="col-12 col-md-12 col-xl-12 offset-xl-1">
            <div class="navbar-collapse d-flex">
                <div class="nav-item m-auto ">
                    <a class="nav-link text-secondary font-weight-bold mx-auto" href="../public/.."
                    ><i
                            class="fab fa-twitter text-info nav-icons"
                            style="color:#0084b4 !important"
                    ></i
                    ></a>
                </div>
            </div>
        </div>
    </nav>
