<div class="row person-menu-profile border-bottom bg-white">
    <div class="col-md-8 col-lg-8 col-sm-12 col-xl-7 person-menu-profile-tabs offset-md-3 offset-lg-3 offset-xl-4">
        <div class="row flex-row topnav">
            <div class="tabs col-4 d-flex flex-column align-items-center text-secondary font-weight-bold">
                <span>Tweets</span><span class="text-secondary font-weight-bold h4">0</span>
            </div>
            <div class="active tabs col-4 d-flex flex-column align-items-center text-secondary font-weight-bold">
                <span>Following</span><span class="text-secondary font-weight-bold h4">2</span>
            </div>
            <div class="tabs col-4 d-flex flex-column align-items-center text-secondary font-weight-bold">
                <span>Followers</span><span class="text-secondary font-weight-bold h4">1</span>
            </div>
        </div>
        <a href="inform" class="text-secondary font-weight-bold person-menu-profile-tabs-edit">Edit Profile</a>
    </div>
</div>