<main role="main" class="container-fluid profile-body-main pt-4 bg-light">
    <div class="d-flex flex-column flex-md-row align-items-start">
        <div class="col-12 col-md-4 col-lg-3 col-xl-3 offset-xl-1">
            <section class="d-flex flex-column position-relative col-12 profile-bio">
                <div class="p-0 profile-bio-avatar-2 rounded-circle position-absolute">
                    <img class="rounded-circle" src="../public/img/avatar2.jpg"/>
                </div>
                <span class="h3 text-dark font-weight-bold mt-3 pt-3">Your Name</span>
                <span class="h7 link">@Test1</span>
                <span class="h7 text-dark font-weight-bold mb-4"
                >Text: Your bio goes here in max 1000 characters.</span>
                <div class="person-menu-mobile col-md-12 col-lg-12 col-sm-12 col-xl-12 pb-3">
                    <div class="row flex-row">
                        <div
                                class="flex-column text-muted text-center"
                                style="font-size: 11px;"
                        >
                            Tweets <br/><span class="text-info h4">0</span>
                        </div>
                        <div
                                class="flex-column text-muted text-center pl-3"
                                style="font-size: 11px;"
                        >
                            Following <br/><span class="text-info h4">0</span>
                        </div>
                        <div
                                class="flex-column text-muted text-center pl-3"
                                style="font-size: 11px;"
                        >
                            Followers <br/><span class="text-info h4">0</span>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary btn-hiden"
                            style="background-color: #0084B4;border: none">
                        <a href="inform">EDIT PROFILE</a>
                    </button>
                </div>
            </section>
        </div>
        <div class="col-12 col-md-8 col-lg-9 col-xl-5 d-flex flex-column flex-md-row">
            <div class="container">
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- TWEET PANEL -->
                    <div class="tab-pane active" id="tweets" role="tabpanel">
                        <div class="card tweet-panel">
                            <div class="card-body d-flex flex-column d-flex flex-column justify-content-between pt-5">
                                <div class="tweet-input">
                                    <textarea class="tweet-form" style="height: 50px" placeholder="What's happening?"></textarea>
                                </div>
                                <div class="text-right"><div id="character-counter"><span id="current">0</span><span id="maximum">/200</span></div>

                                    <button type="button" class="btn btn-outline-primary pl-3 pr-3" id='add-tweet'>TWEET</button>
                                </div>
                            </div>
                        </div>
                        <div id="root"></div>
                    </div>
                    <!-- TWEET PANEL END -->
                    <!-- FOLLOWING -->
                    <div class="tab-pane" id="following" role="tabpanel">
                        <div class="d-flex flex-wrap">
                            <div class="card user-card mx-1 col-md-12 col-lg-5 col-xl-5 p-0 mt-2" >
                                <div class="card-header user-card-header"></div>
                                <div class="card-body d-flex pl-5">
                                    <div class="col-4 position-relative">
                                        <div class="p-0 card-bio-avatar rounded-pill position-absolute">
                                            <img class="rounded-pill" src="../img/avatar.jpg"/>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title font-weight-bold">Maxim Zima</h5>
                                        <p class="card-text">
                                            <a href="#" class="mr-1 text-secondary">@maxzima</a>
                                            <span href="#" class="text-secondary bg-light">Follows you</span></p>
                                    </div>
                                </div>
                                <div class="card-body user-card-body-btn">
                                    <a href="#" class="btn user-card-body-btn-link text-light font-weight-bold rounded-pill">Following</a>
                                </div>
                            </div>
                            <div class="card user-card mx-1 col-md-12 col-lg-5 col-xl-5 p-0 mt-2" >
                                <div class="card-header user-card-header"></div>
                                <div class="card-body d-flex pl-5">
                                    <div class="col-4 position-relative">
                                        <div class="p-0 card-bio-avatar rounded-pill position-absolute">
                                            <img class="rounded-pill" src="../img/avatar.jpg"/>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title font-weight-bold">Anton Diachenko</h5>
                                        <p class="card-text">
                                            <a href="#" class="mr-1 text-secondary">@antowkaka</a>
                                            <span href="#" class="text-secondary bg-light">Follows you</span></p>
                                    </div>
                                </div>
                                <div class="card-body user-card-body-btn">
                                    <a href="#" class="btn user-card-body-btn-link text-light font-weight-bold rounded-pill">Following</a>
                                </div>
                            </div>
                            <div class="card user-card mx-1 col-md-12 col-lg-5 col-xl-5 p-0 mt-2" >
                                <div class="card-header user-card-header"></div>
                                <div class="card-body d-flex pl-5">
                                    <div class="col-4 position-relative">
                                        <div class="p-0 card-bio-avatar rounded-pill position-absolute">
                                            <img class="rounded-pill" src="../img/avatar.jpg"/>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title font-weight-bold">Nina Herasymova</h5>
                                        <p class="card-text">
                                            <a href="#" class="mr-1 text-secondary">@nina</a>
                                            <span href="#" class="text-secondary bg-light">Follows you</span></p>
                                    </div>
                                </div>
                                <div class="card-body user-card-body-btn">
                                    <a href="#" class="btn user-card-body-btn-link text-light font-weight-bold rounded-pill">Following</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FOLLOWING END-->
                    <div class="tab-pane" id="followers" role="tabpanel">3</div>
                </div>
            </div>
        </div>
      