<div class="min-profile col-12 col-md-4 col-xl-3 offset-xl-1">
                    <section class="d-flex flex-column profile-bio">
                        <div class="col-12 p-0 profile-bio-search">
                            <div class = "d-flex flex-row flex-wrap pt-5 pl-2">
                                <i class="fas fa-user-circle user-avatar rounded-circle"></i>
                                <div class="d-flex flex-column p-3 mt-4">
                                    <span class="first-name h5 text-dark font-weight-bold m-0" value="Name">Name</span>
                                    <span class="h6 link">@username</span>
                                </div>
                            </div>    
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 pb-3">
                                <div class="row flex-row">
                                    <div
                                            class="active col-6 col-md-4 col-lg-4 flex-column text-muted text-center"
                                            style="font-size: 11px;"
                                    >
                                        Tweets <br/><span class="text-info h4">0</span>
                                    </div>
                                    <div
                                            class="col-6 col-md-4 col-lg-4 flex-column text-muted text-center"
                                            style="font-size: 11px;"
                                    >
                                        Following <br/><span class="text-info h4">0</span>
                                    </div>
                                    <div
                                            class="col-6 col-md-4 col-lg-4 flex-column text-muted text-center"
                                            style="font-size: 11px;"
                                    >
                                        Followers <br/><span class="text-info h4">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>