<div class="col-12 col-md-8 col-lg-6 col-xl-7 mb-5">
    <div class="col-12 password-inform pb-2">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Personal information</h4>
        </div>
        <div class="modal-body-inform px-2">
            <form class="needs-validation" novalidate="">
                <div class="row justify-content-between">
                    <div class="col-md-5 mt-4 p-0">
                        <input type="text" class="form-control" id="firstName" required=""  placeholder="Firstname">
                        <label id="invalid-first-name" class="invalid-labels">
                            Valid first name is required.</label>
                    </div>
                    <div class="col-md-5 mt-4 p-0">
                        <input type="text" class="form-control" id="lastName" required="" placeholder="Lastname">
                        <label id="invalid-last-name" class="invalid-labels">
                            Valid last name is required.</label>
                    </div>
                </div>

                <div class="data">
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                    <label id="invalid-email" class="invalid-labels">Invalid Email</label>
                </div>

                <div class="data">
                    <input type="text" class="form-control" id="username" required="" placeholder="Username">
                    <label id="invalid-username" class="invalid-labels">
                        Username must be at least three(3) characters long and must can
                        contain one underscore and number</label>
                </div>


                <div class="data">
                    <input type="text" class="form-control" id="bio" required="" placeholder="Bio">
                    <div class="d-flex flex-row justify-content-between">
                        <div id="character-counter text-right pt-2"><span id="current">0</span><span id="maximum">/1000</span></div>
                        <label id="invalid-bio" class="invalid-labels">
                            Bio should be from 8 to 1000 symbols</label>
                    </div>
                </div>
                <div class="data mb-5">
                    <label for="date">Date of birth</label>
                    <input type="date" class="form-control" id="date"  placeholder=""/>
                    <label id="invalid-date" class="invalid-labels">Invalid Date</label>
                </div>
                <button id="update-inform" class="btn btn-primary rounded-pill font-weight-bold" type="button"
                        aria-pressed="true">UPDATE</button>
            </form>
        </div>
    </div>
    <div class="password-inform col-12 col-md-12 col-xl-12  mb-5 mt-2">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Change password</h4>
        </div>
        <div class="modal-body-inform px-2">
            <form class="needs-validation" novalidate="">
                <div class="data mb-5">
                    <input type="password" class="form-control " id="curr-pass" placeholder="Current password"/>
                    <label id="invalid-curr-pass" class="invalid-labels">Invalid Password</label>
                </div>
                <div class="data">
                    <input type="password" class="form-control password-control" id="pass" required="" placeholder="Password">
                    <label id="invalid-password" class="invalid-labels">Password must be at least six(6) characters long and must contain one
                        underscore and number</label>
                </div>
                <div class="data mb-5">
                    <input type="password" class="form-control  password-control" id="pass-repeat" placeholder="Confirm password"/>
                    <label id="invalid-pass-repeat" class="invalid-labels"
                    >Passwords don't match</label>
                </div>
                    <button class="btn btn-primary rounded-pill font-weight-bold" type="button"
                            id = "update-password" aria-pressed="true">CHANGE PASSWORD</button>
            </form>
        </div>
    </div>
</div>       