<!-- RIGHT SIDE -->
                <div class="who__follow col-12 col-md-3 col-xl-3">
                    <div class="who__follow-content p-2">
                        <span class="h4 font-weight-light">Who to follow</span>·<span class="link">View all</span>
                            <!-- one-person -->
                            <div class = "d-flex flex-row p-2 border">
                                <i class="fas fa-user-circle user-avatar  rounded-circle"></i>
                                <div class="d-flex flex-column pl-3">
                                    <span class="h5 text-dark font-weight-bold m-0">Name</span>
                                    <span class="h6 link">@username</span>
                                    <div>
                                        <button class="btn btn-primary col-md-12 col-lg-12 col-sm-12 col-12"
                                                style="background-color: #0084B4;border: none">
                                                    Following
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- one-person end -->
                            <!-- one-person -->
                            <div class = "d-flex flex-row p-2 border">
                                <i class="fas fa-user-circle user-avatar rounded-circle"></i>
                                <div class="d-flex flex-column pl-3">
                                    <span class="h5 text-dark font-weight-bold m-0">Name</span>
                                    <span class="h6 link">@username</span>
                                    <div>
                                        <button class="btn btn-primary col-md-12 col-lg-12 col-sm-12 col-12"
                                                style="background-color: #0084B4;border: none">
                                                    Following
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- one-person end -->
                    </div>
                    <!-- ADVERTISE -->
                    <section class="profile-body-main-advertise mt-3">
                        <div class="col-12 p-3 advertise-block d-flex flex-column container">
                            <span class="h7">© 2018 Twitter</span>
                            <hr class="profile-body-main-advertise-hr">
                            <span class="profile-body-main-advertise-span text-primary">Advertise With Twitter</span>
                        </div>
                    </section>
                    <!-- ADVERTISE END-->
                </div>
                <!-- RIGHT SIDE END -->
        </div>
    </div>
</div>