<div class="col-12 col-md-8 col-xl-7">
    <div class="row person-menu p-3" style= "background-color: #fff">
        <div class="search-person">
                <!-- ЗДЕСЬ БУДУТ ДАННЫЕ С ПОИСКА -->
                        <div class = "d-flex flex-row p-2">
                        <i class="fas fa-user-circle user-avatar"></i>
                        <div class="d-flex flex-column p-3 mt-4">
                            <span class="h5 text-dark font-weight-bold m-0">Name</span>
                            <span class="h6 link">@username</span>
                        </div>
                    </div>
                    <div class="following-button col-8 col-md-4 col-lg-4 col-sm-5 pb-3">
                        <div class="row">
                            <div>
                                <button class="btn btn-primary col-md-12 col-lg-12 col-sm-12 col-12"
                                        style="background-color: #0084B4;border: none">
                                    Following
                                </button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>