<div class="card tweet-panel col-12 col-md-8 col-xl-5">
    <div class="card-body d-flex flex-column d-flex flex-column justify-content-between pt-5">
        <div class="tweet-input">
            <textarea class="tweet-form" style="height: 50px" placeholder="What's happening?"></textarea>
        </div>
        <div class="text-right">
            <div id="character-counter"><span id="current">0</span><span id="maximum">/200</span></div>
            <button type="button" class="btn btn-outline-primary pl-3 pr-3" id='add-tweet'>TWEET</button>
        </div>
    </div>
    <div id="root"></div>
</div>