{# {% block content %} #}
    
<body class="search-body">
<div class="container-fluid ">
            <div class="d-flex align-items-start flex-wrap">
                {{ include('blocks/header.twig') }}
                {{ include('blocks/min-profile-card.twig') }}
                {{ include('blocks/tweet-form.twig') }}
                {{ include('blocks/right-side-panel.twig') }}
                {{ include('blocks/footer-bird.twig') }}
                    {{ include('blocks/script.twig') }}

{# {% endblock %} #}
