{# {% block title %}Inform{% endblock %}
{% block content %}#}
<body class="inform-body">
        <main role="main" class="container-fluid inform-body-main">
                <div class="row inform-row">
                        {{ include('blocks/header.twig') }}
                        {{ include('blocks/min-profile-card.twig') }}
                        {{ include('blocks/personal-change.twig') }}
                        {{ include('blocks/footer-bird.twig') }}
                </div>
        </main>
          {{ include('blocks/script.twig') }}
      

{# {% endblock %} #}
