{# {% block title %}Login{% endblock %}
    {% block content %}
         #}
    {{ include('blocks/header-login-signup.twig') }}
    <div class="register col-10 col-lg-5 col-xl-5 offset-1">
               <div class="modal-header col-12 col-md-11 col-xl-10 m-auto">
                   <h4 class="modal-title" id="exampleModalLabel">Log in to Twitter?</h4>
               </div>
               <div class="modal-body col-12 col-md-10 col-xl-10 m-auto p-0">
                   <form class="needs-validation" novalidate="">
                       <div class="row">
                           <div class="col-12 mt-4 mb-5 p-0">
                               <input type="text" class="form-control" id="email" placeholder="Email or Username" value="" required="">
                               <label id="invalid-email" class="invalid-labels">Invalid Email</label>
                           </div>
                       </div>

                       <div class="data col-12 mt-4 mb-5 p-0">
                           <input type="password" class="form-control" id="pass" placeholder="Password" required="">
                           <label id="invalid-password" class="invalid-labels">Invalid password</label>
                       </div>

                       <button  id ="login-button" type="button" class="btn btn-primary rounded-pill font-weight-bold" aria-pressed="true">SUMBIT</button>

                   </form>
               </div>
               <div class="modal-footer justify-content-start mt-3">
                   <h5>Need a twitter?</h5>
                   <button type="button" class="btn text-primary" data-dismiss="modal" data-toggle="modal"
                           data-target=".login"><a href="registration">SIGN UP</a>
                   </button>
               </div>
           </div>
               {{ include('blocks/script.twig') }}
    {# {% endblock %} #}
