{# {% block title %}Profile{% endblock %}

{% block content %} #}
 
<body class="profile-body">
{{ include('blocks/header.twig') }}
{{ include('blocks/main-header.twig') }}
{{ include('blocks/main.twig') }}
{{ include('blocks/right-side-panel.twig') }}
{{ include('blocks/footer-bird.twig') }}
    {{ include('blocks/script.twig') }}

{# {% endblock %} #}
