{# {% block title %}Registration{% endblock %}
    {% block content %}
      #}
    {{ include('blocks/header-login-signup.twig') }}
    <div class="register col-10 col-lg-7 col-xl-7 offset-1 mb-5">
         <div class="modal-header">
           <h4 class="modal-title" id="exampleModalLabel">Create an account</h4>
         </div>
         <div class="modal-body">
           <form class="needs-validation" novalidate="">
             <div class="row justify-content-between">
               <div class="col-md-5 mt-4 mb-3 p-0">
                 <input
                   type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="First name"
                   value=""
                   required=""
                 />
                 <label id="invalid-first-name" class="invalid-labels">
                   Valid first name is required.</label
                 >
               </div>
               <div class="col-md-5 mt-4 mb-5 p-0">
                 <input
                   type="text"
                   class="form-control"
                   id="lastName"
                   placeholder="Last name"
                   value=""
                   required=""
                 />
                 <label id="invalid-last-name" class="invalid-labels">
                   Valid last name is required.</label
                 >
               </div>
             </div>
             <div class="">
               <input
                 type="email"
                 class="form-control"
                 id="email"
                 placeholder="Email"
               />
               <label id="invalid-email" class="invalid-labels"
                 >Invalid Email</label
               >
             </div>

             <div class="data">
               <div class="input-group">
                 <input
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Username"
                   required=""
                 />
               </div>
               <label id="invalid-username" class="invalid-labels"
                 >Username must be at least three(3) characters long and must can
                 contain one underscore and number</label
               >
             </div>

             <div class="data">
               <input
                 type="date"
                 class="form-control"
                 style="border-left: none;"
                 id="date"
                 placeholder="Date of birth"
                 required=""
               />
               <label id="invalid-date" class="invalid-labels">Invalid Date</label>
             </div>

             <div class="data">
               <input
                 type="password"
                 class="form-control"
                 id="pass"
                 placeholder="Password"
                 required=""
               />
               <label id="invalid-password" class="invalid-labels"
                 >Password must be at least 8 characters long. Must contain one
                 special character, number and UpperCase</label
               >
             </div>

             <div class="data mb-5">
               <input
                 type="password"
                 class="form-control"
                 id="pass-repeat"
                 placeholder="Confim password"
               />
               <label id="invalid-pass-repeat" class="invalid-labels"
                 >Passwords dont match</label>
             </div>

             <button
               class="btn btn-primary rounded-pill font-weight-bold"
               aria-pressed="true"
               type="button"
               id="submit-button"
             >
               SUMBIT
             </button>
           </form>
         </div>
         <div class="modal-footer justify-content-start mt-3">
           <h5>Already using twitter?</h5>
           <button
             type="button"
             class="btn text-primary"
             data-dismiss="modal"
             data-toggle="modal"
             data-target=".login"
           >
             <a href="login">LOGIN</a>
           </button>
         </div>
       </div>
          {{ include('blocks/script.twig') }}
 {# {% endblock %} #}
