{# {% block title %}Search{% endblock %}
{% block content %} #}

<body class="search-body">

   {{ include('blocks/header.twig') }}
    <div class="container-fluid main-search">
        <div class="row">
            {{ include('blocks/min-profile-card.twig') }}
            {{ include('blocks/search-result.twig') }}
            <div class="search-hiden">
                <div class="modal-body">
                    <form class="needs-validation" novalidate="">
                        <div class="col-12">
                            <input type="text" class="form-control mobile-search" id="mobile-search" placeholder="Search Twitter">
                            <button type="button" class="btn btn-outline-primary mt-3 pl-3 pr-3">
                                <i class="fas fa-search"></i>
                            </button>
                            <div class="search-hiden-title text-center mt-3">
                                <h3>Search for people on twitter.</h3>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ include('blocks/footer-bird.twig') }}
    {{ include('blocks/script.twig') }}

{# {% endblock %} #}
