<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ description }}" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/color/48/000000/twitter.png" />
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9317b04617.js" crossorigin="anonymous"></script>
</head>

<link rel="stylesheet" type="text/css" href="../css/home.css">
<link rel="stylesheet" type="text/css" href="../css/index.css">
 <link rel="stylesheet" type="text/css" href="../css/inform.css">
 <link rel="stylesheet" type="text/css" href="../css/login.css">
 <link rel="stylesheet" type="text/css" href="../css/profile.css">
  <link rel="stylesheet" type="text/css" href="../css/register.css">
  <link rel="stylesheet" type="text/css" href="../css/search.css">

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script>
                window.jQuery ||
                    document.write(
                        '<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>'
                    );
            </script>
            <script src="../vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
